# Ignore virtual environment
**/.venv/

# Ignore image processing folders
/Backend/image_processor/processed_files/
/Backend/image_processor/uploaded_files/

/Backend/image_processor/debug_dithered.png

# Ignore these files everywhere (recursive)
**/.DS_Store
**/Thumbs.db
**/__pycache__/

# Ignore these folders and editor configs everywhere
**/.vscode/
**/.idea/
*.swp

# Secrets
/Combined/full_disp_AND_upload/secrets.h