# Ignore virtual environment
**/.venv/

# Ignore image processing folders
/Firmware/Backend/image_processor/processed_files/
/Firmware/Backend/image_processor/uploaded_files/

# Ignore old not currently deployed code
/Firmware/Audio/
/Firmware/Backend
/Firmware/Displays
/Combined/disp_next_AND_SD_upload

/Firmware/Backend/image_processor/debug_dithered.png

# Ignore these files everywhere (recursive)
**/.DS_Store
**/Thumbs.db
**/__pycache__/

# Ignore these folders and editor configs everywhere
**/.vscode/
**/.idea/
*.swp

# Secrets
Firmware/Combined/full_disp_AND_upload/secrets.h
